body {
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 16px;
  text-align: center;

  > .typing, > .multiple-choice {
    border: 1px dotted black;
    margin: 0 auto;
    overflow: hidden;

    font-size: 48px;
    height: 160px;
    width: 480px;
  }

  > .multiple-choice {
    > .questions {
      height: 1.5em;
    }

    > .answers {
      font-size: 40%;
      height: 3em;

      .text {
        transition: all 0.2s;
      }
    }

    > .questions, .answers {
      position: relative;
      width: 100%;

      > .text {
        display: inline-block;
        position: absolute;
        transform: translateX(-50%);
      }
    }
  }

  > .typing {
    > .typing-inner {
      position: relative;
      height: 100%;
      width: 100%;

      > .segments {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        > .segment {
          float: left;

          &.correct {
            color: #0a0;
          }

          > .answer {
            font-size: 50%;

            > .cursor, .text, .guide {
              display: inline-block;
              font-size: 100%;
            }

            > .cursor {
              background-color: #ccc;
              color: #888;

              &.fixed-width {
                width: 0.5em;
              }
            }

            > .guide {
              color: #ccc;
            }
          }
        }
      }
    }
  }
}
